html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100%;
    /* other styles */
}

.message-table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

a {
    color: yellow;
}
