{% extends 'layout.html' %}

{% block content %}
<div class="container text-light text-center">
    <h1>About</h1>
    <p>This app convolutes protein sequences and predicts potential regions with arrestin binding. Further details are available in the <a href="https://www.biorxiv.org/content/10.1101/2023.08.04.551955v1" target="_blank">manuscript</a>.</p>
    <p>The app is written in Python and utilizes sequence and protein structure data from <a href="https://alphafold.ebi.ac.uk/" target="_blank">https://alphafold.ebi.ac.uk/</a>.</p>
    <p>The project is funded by the Hungarian National Research, Development, and Innovation Fund (NKFI FK 138862).</p>
    <p>For more information, please <a href="mailto:gabor.turu@ttk.hu">email the author</a>.</p>
</div>

{% endblock content %}


