{% extends 'layout.html' %}

{% block content %}
<div class="container text-light text-center">
    <p>A protein sequence can be convoluted either by entering its UniProt entry name or the sequence. In case the entry/entry name is given, the AlphaFold confidence score is downloaded from the alphafold.ebi.ac.uk site and displayed in the figure as a colored line.</p>
    <p>In case a protein is not available on the alphafold.ebi.ac.uk (e.g. splice variant or mutated protein), the sequence can be directly entered in the “Custom sequence convolution” section. In this case, no structure confidence information will be displayed in the figure.</p>
    <p>To predict proteins in batch, the source Python code should be run locally. Please refer to our GitHub pages: <a href="https://github.com/turugabor/arrestick_app">app</a>, <a href="https://github.com/turugabor/arreSTick">model</a></p>
</div>
{% endblock content %}




Help





