{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid justify-content-center">
    <form class="w3-wide bg-secondary" action="/select" method="post">
        <div class="container text-center">
            <div class="row p-2 justify-content-center">
                <div class="col-md-6 d-flex flex-column align-items-center text-light">
                    <h3>arreSTick</h3>
                    <h5>arrestin-binding region prediction tool</h5>
                </div>
            </div>
        
            <div class="row p-2 justify-content-center">
                <div class="col-md-8">
                    <textarea class="form-control" name="protein" id="protein" 
                        placeholder="Enter Uniprot entry, entry name or raw protein amino acid sequence here (>= 15 amino acids). Examples: AGTRA_RAT, P25095, LLKYIPPKAKSHSSLSTKMSTLSYRPSDNMSSSAKKPASCFEVE" rows="5" style="resize:vertical;"></textarea>
                </div>
            </div>
            <div class="row p-2 justify-content-center">
                <div class="col-md-2">
                    <button type="submit" name="clicked_btn" class="btn btn-light">Convolute</button>
                </div>
            </div>
        </div>
                           
    </form> 

   
    <div class="row p-2 justify-content-center">
        <div class="col-md-8 container text-center">
            <div id="chart" class="chart"></div>

            {% if message %}
            
            <div  class = "container bg-light justify-content-center mx-auto p-2" >
                {% if message != "Protein not found or sequence is not valid" %}
                <p class="text-center bg-light justify-content-center mx-auto p-2">Regions predicted as possible arrestin-binding sequences (arreSTicks)</p>
                {% endif %}
                {{ message | safe }}
            </div>
            {% endif %}
        </div>
    </div>


</div>


{% endblock content %}

