{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid justify-content-center">
    <form class="w3-wide bg-primary" action="/select" method="post">
        <div class="container text-center">
            <div class="row p-2 justify-content-center">
                <div class="col-6 d-flex flex-column align-items-center text-light">
                    <h3>arreSTick</h3>
                    <h5>arrestin-binding region prediction tool</h5>
                </div>
            </div>
        
            <div class="row p-2 justify-content-center">
                <div class="col-8">
                    <textarea class="form-control" name="protein" id="protein" 
                        placeholder="Enter Uniprot entry, entry name or raw protein amino acid sequence here" rows="5"></textarea>
                </div>
            </div>
            <div class="row p-2 justify-content-center">
                <div class="col-2">
                    <button type="submit" name="clicked_btn" class="btn btn-light">Convolute</button>
                </div>
            </div>
        </div>
                           
    </form> 

    <div class="row p-2 justify-content-center">
        <div class="col-8 container text-center">
            <div id="chart" class="chart"></div>
            <p>{{ message }}</p>
        </div>
    </div>

</div>


{% endblock content %}


